/* بسم الله الرحمن الرحيم */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* My Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-background: #f6f6f6;
  --para-color: #777;
  --section-padding: 60px;
  --line-height: 1.6;
  --font-weight: 300;
  --margin-top: 100px;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Start Public Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  margin: 0;
  letter-spacing: -3px;
}
.special-heading + p {
  font-size: 18px;
  color: #737373;
  text-align: center;
  margin: -30px 0 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* End Public Components */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 550px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start Header */
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    font-size: 14px;
    margin: -20px 0 0;
  }
}
.header {
  padding: 20px;
}
.header .logo {
  width: 60px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 3px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  border-radius: 10px;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 5px;
  top: -18px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #f6f6f6 transparent;
}
.header .links ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: #333;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 20px;
}
.header .links ul li:not(:last-child) {
  border-bottom: 2px solid #e5e5e5;
}
/* End Header */

/* Start Landing Section */
.landing {
  background-image: url(../images/1.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
}
.landing .intro-text p {
  color: white;
  line-height: var(--line-height);
}
/* End Landing Section */

/* Start Features Section */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat {
  text-align: center;
  padding: 20px;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  font-size: 17px;
  color: var(--para-color);
  line-height: var(--line-height);
}
/* End Features Section */

/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: var(--margin-top);
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    text-align: center;
    flex-direction: column;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin-top: 0;
}
.services .services-content .srv .text p {
  line-height: var(--line-height);
  color: var(--para-color);
  font-weight: var(--font-weight);
}
.services .services-content .image img {
  width: 260px;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 80px;
  height: calc(100% + 80px);
  position: absolute;
  top: -40px;
  right: 0;
  z-index: -1;
}
@media (max-width: 1199px) {
  .image-disapear {
    display: none;
  }
}
/* Start Services */

/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: var(--margin-top);
  grid-gap: 30px;
}
.portfolio .container .cards .card {
  background-color: #ffff;
}
.portfolio .container .cards .card img {
  max-width: 100%;
}
.portfolio .container .cards .card .text {
  padding: 20px;
}
.portfolio .container .cards .card .text h3 {
  margin: 0;
}
.portfolio .container .cards .card .text p {
  line-height: var(--line-height);
  color: var(--para-color);
  font-weight: var(--font-weight);
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .portfolio .container .cards .card .text {
    text-align: center;
  }
}
/* End Portfolio */

/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .container .content {
  margin-top: var(--margin-top);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .about .container .content {
    flex-direction: column;
    text-align: center;
  }
}
.about .container .content img {
  width: 260px;
  height: 346px;
}
.about .container .content .image {
  width: 260px;
  height: 346px;
  position: relative;
}
@media (max-width: 992px) {
  .about .container .content .image {
    margin: 0 auto 20px;
  }
}
.about .container .content .image::before {
  content: "";
  background-color: var(--section-background);
  width: 80px;
  height: calc(100% + 80px);
  top: -40px;
  left: -10px;
  position: absolute;
  z-index: -1;
}
.about .container .content .image::after {
  content: "";
  background-color: #ffffff;
  width: 100px;
  height: calc(100% - 100px);
  top: -20px;
  right: -128px;
  position: absolute;
  border-left: 75px solid var(--main-color);
  border-bottom: 75px solid var(--main-color);
  z-index: -1;
}
@media (max-width: 992px) {
  .about .container .content .image::before,
  .about .container .content .image::after {
    display: none;
  }
}
.about .container .content .text {
  flex-basis: calc(100% - 570px);
}
.about .container .content .text p:first-of-type {
  font-size: 17px;
  line-height: 1.8;
  font-weight: 800;
  margin-bottom: 40px;
}
.about .container .content .text hr {
  width: 50%;
  border-color: var(--main-color);
  display: inline-block;
}
.about .container .content .text p:last-of-type {
  color: var(--para-color);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}
/* End About */

/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .container .content {
  width: 50%;
  text-align: center;
  margin: 70px 0;
}
@media (max-width: 1210px) {
  .contact .container .content {
    width: 100%;
    text-align: center;
    margin: 70px 0;
  }
}
.contact .container .content .label {
  color: var(--secondary-color);
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 15px;
}
.contact .container .content .link {
  text-decoration: none;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 800;
}
.contact .container .content .social {
  margin-top: 30px;
  font-size: 10px;
}
.contact .container .content .social i {
  font-size: 14px;
  margin-left: 10px;
  color: var(--secondary-color);
}
/* End Contact */

/* Start Footer */
footer {
  width: 100%;
  background-color: var(--secondary-color);
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: small;
}
footer a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
}
/* End Footer */

/* الحمد لله */
